
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/login.css">
    <link rel="stylesheet" href="~/assets/css/loginSecondFile.css">

</head>
<body>

    @if (ViewBag.errorMessage != null)
    {
    <script>
            $(document).ready(function () {
                $("#submitButton").on("click", function () {
                    alert("@ViewBag.erroMessage");
                });

            });
    </script>
    }

    <!--<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">-->

    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="~/assets/images/loginPic2.jpg" alt="login" class="login-card-img img-responsive center-block">
                </div>


                <div class="col-md-7 ">
                    <div class="card-body LoginForm">
                        <div class="brand-wrapper">
                            <img src="~/assets/images/logo4.png" alt="logo" class="img-responsive center-block">
                        </div>

                        <p class="login-card-description">Sign into your account</p>
                        @using (Html.BeginForm("LoginToSystem", "Home"))
                        {
                            <form class="form-body" action="LoginToSystem" method="post">
                                <div class="form-group">
                                    <label for="email" class="sr-only">Email</label>
                                    <input type="email" name="emailAddress" id="emailAddress" class="form-control" placeholder="Email address">
                                </div>
                                <div class="form-group mb-4">
                                    <label for="password" class="sr-only">Password</label>
                                    <input type="password" name="password" id="password" class="form-control" placeholder="***********">
                                </div>
                                @if (@ViewBag.WarningMessage != null)
                                {
                                    <div class="form-group mb-4" id="LoginWarning" style="visibility:visible; background-color:red">
                                        <label>@ViewBag.WarningMessage</label>
                                    </div>
                                }
                                <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Login">
                            </form>
                        }
                        <a data-toggle="modal" href="#!" class="forgot-password-link" data-target="#myModal">Forgot password?</a>
                        <p class="login-card-footer-text"></p>

                    </div>



                    <div id="myModal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Forgot Password</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                @using (Html.BeginForm("RetrievePasswordByEmail", "Home"))
                                {
                                    <form>
                                        <div class="modal-body">

                                            <p>Enter Your Email Please</p>
                                            <input type="text" name="email" id="email" class="form-control">

                                        </div>
                                        <div class="modal-footer">
                                            <input name="holidayStatus" id="submitButton" class="form-control btn-success" type="submit" value="Send My Password">

                                        </div>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>

    </div>
    <!--  </main>-->
    }


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="~/assets/js/Plugin.js"></script>
    <link rel="stylesheet" href="~/assets/css/login.css">
    <link rel="stylesheet" href="~/assets/css/loginSecondFile.css">


</body>
</html>